<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="carSpecification" class="com.kritica.autowire.type.Specification">
        <property name="make" value="Toyata"/>
        <property name="model" value="Jazz"/>
    </bean>

    <bean id="car" class="com.kritica.autowire.type.Car" autowire="byType"/>

</beans>